body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--color-claro);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1100;
  flex-wrap: wrap;
}

header h1 a {
  font-family: var(--fuente-titulo);
  font-size: 1.8rem;
  color: var(--color-acento);
  text-decoration: none;
}

.btnMenuLabel {
  display: none;
  width: 1.5rem;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  margin-left: auto;
}

.btnMenuLabel svg {
  height: 100%;
  object-fit: contain;
}

#barraNavegacion {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#barraNavegacion a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

#barraNavegacion a:hover {
  transform: scale(1);
}

/* Carrito */
.icono-carrito {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

#abrirCarrito {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;
  color: var(--color-principal);
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 860px) {
  .btnMenuLabel {
    display: flex;
  }

  #barraNavegacion {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-acento);
    color: white;
    border: 0.25rem solid white;
    border-top: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem 2rem;
    border-radius: 0 0 1rem 1rem;
    z-index: 1001;
    gap: 1rem;
    transform: translateY(-100vh);
    transition: transform 300ms ease-in-out;
  }

  #barraNavegacion a {
    width: 100%;
    font-size: 1.1rem;
    color: white;
    font-weight: 300;
    transform: scale(0.97);
  }

  #barraNavegacion.menu-abierto {
    transform: translateY(0);
  }
}

@media (max-width: 345px) {
  #barraNavegacion a {
    font-size: 1rem;
  }

  #barraNavegacion {
    gap: 0.5rem;
  }
}