@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    display: none;
  }

  #menuHamburguesa {
    display: block;
    font-size: 1.8rem;
  }

  .contenido-hero {
    flex-direction: column;
  }

  .hero-slider {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
  }

  #catalogo aside ul {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .nosotros-beneficios {
    flex-direction: column;
    align-items: center;
  }

  .beneficio {
    width: 100%;
  }
}